{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_verbalfeedback/report_download

    Moodle report download template.

    The purpose of this template is to render a report for download.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
      "scales": [
        {
          "scale": 0,
          "scalelabel": "0",
          "description": "Strongly disagree"
        },
        {
          "scale": 1,
          "scalelabel": "1",
          "description": "Disagree"
        },
        {
          "scale": 2,
          "scalelabel": "2",
          "description": "Somewhat disagree"
        },
        {
          "scale": 3,
          "scalelabel": "3",
          "description": "Somewhat agree"
        },
        {
          "scale": 4,
          "scalelabel": "4",
          "description": "Agree"
        },
        {
          "scale": 5,
          "scalelabel": "5",
          "description": "Strongly agree"
        },
        {
          "scale": null,
          "scalelabel": "N/A",
          "description": "Not applicable"
        }
      ],
      "report": {
        "resultpercentage": "50.67%",
        "radar": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?><svg version=\"1.1\" width=\"330\" height=\"220\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"></svg>\n",
        "categories": [
          {
            "name": "Content",
            "average": "1.33",
            "percentage": "20%",
            "criteria": [
              {
                "text": "The content is relevant, technically correct and supported by arguments.",
                "scaletext": "Disagree",
                "averagerating": "1.00",
                "multiplier": "1.00"
              },
              {
                "text": "The content is tailored to the target audience and the occasion.",
                "scaletext": "Somewhat disagree",
                "averagerating": "2.00",
                "multiplier": "1.00"
              },
              {
                "text": "The content presented is evidence of a thorough, independent examination of the topic.",
                "scaletext": "Disagree",
                "averagerating": "1.00",
                "multiplier": "1.00"
              }
            ],
            "weight": 0.2
          },
          {
            "name": "Structure",
            "average": "1.67",
            "percentage": "20%",
            "criteria": [
              {
                "text": "The introduction establishes contact, stimulates interest and provides orientation.",
                "scaletext": "Somewhat disagree",
                "averagerating": "2.00",
                "multiplier": "1.00"
              },
              {
                "text": "The main points build on each other and are in line with your purpose.",
                "scaletext": "Disagree",
                "averagerating": "1.00",
                "multiplier": "1.00"
              },
              {
                "text": "The final is convincing and clearly signals the end of the presentation.",
                "scaletext": "Somewhat disagree",
                "averagerating": "2.00",
                "multiplier": "1.00"
              }
            ],
            "weight": 0.2
          },
          {
            "name": "Media",
            "average": "3.50",
            "percentage": "20%",
            "criteria": [
              {
                "text": "The use of media is professional.",
                "scaletext": "Somewhat agree",
                "averagerating": "3.00",
                "multiplier": "1.00"
              },
              {
                "text": "The visual aids are attractive and of good quality.",
                "scaletext": "Agree",
                "averagerating": "4.00",
                "multiplier": "1.00"
              }
            ],
            "weight": 0.2
          },
          {
            "name": "Speech",
            "average": "3.50",
            "percentage": "20%",
            "criteria": [
              {
                "text": "The language style is typical for spoken texts and suitable for the target audience.",
                "scaletext": "Agree",
                "averagerating": "4.00",
                "multiplier": "1.00"
              },
              {
                "text": "The style of speaking is convincing and facilitates comprehension.",
                "scaletext": "Somewhat agree",
                "averagerating": "3.00",
                "multiplier": "1.00"
              }
            ],
            "weight": 0.2
          },
          {
            "name": "Body language",
            "average": "2.67",
            "percentage": "20%",
            "criteria": [
              {
                "text": "The performance is confident and the space is used effectively.",
                "scaletext": "Somewhat agree",
                "averagerating": "3.00",
                "multiplier": "1.00"
              },
              {
                "text": "Eye contact is made with the entire audience and is maintained as much as possible.",
                "scaletext": "Somewhat disagree",
                "averagerating": "2.00",
                "multiplier": "1.00"
              },
              {
                "text": "Facial expressions are friendly and authentic. Gestures emphasize what is being said.",
                "scaletext": "Somewhat agree",
                "averagerating": "3.00",
                "multiplier": "1.00"
              }
            ],
            "weight": 0.2
          }
        ],
        "resultvsmax": "50.67/100"
      },
      "coursestart": "Sunday, 5 November 2023, 12:00 AM",
      "courseend": "Monday, 4 November 2024, 12:00 AM",
      "instancename": "My verbal Feedback",
      "student": "Student Test",
      "teachers": "Admin User"
    }
}}
<!DOCTYPE html>
<html lang="de">

<head>
  <title>Titel</title>
  <meta charset="utf-8">
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 9pt;
    }

    table {
      border: 1px solid black;
    }

    tr {
      border: 1px solid black;
    }

    th {
      border: 1px solid black;
    }

    td {
      border: 1px solid black;
    }

  </style>
</head>

<body>
  <br>
  <table style="width: 420px;">
    <tr>
      <td style="width: 80px;">{{#str}}course, mod_verbalfeedback{{/str}}</td>
      <td>{{ course }}</td>
    </tr>
    <tr>
      <td>{{#str}}startend, mod_verbalfeedback{{/str}}</td>
      <td>{{ coursestart }} -<br>{{courseend}}</td>
    </tr>
    <tr>
      <td>{{#str}}activity, mod_verbalfeedback{{/str}}</td>
      <td>{{ instancename }}</td>
    </tr>
    <tr>
      <td>{{#str}}teachers, mod_verbalfeedback{{/str}}</td>
      <td>{{ teachers }}</td>
    </tr>
    <tr>
      <td>{{#str}}student, mod_verbalfeedback{{/str}}</td>
      <td>{{ student }}</td>
    </tr>
  </table>
  <br><br>
  <table style="width: 420px;">
    <tr>
      <td style="width: 80px;">{{#str}}percentage, mod_verbalfeedback{{/str}}</td>
      <td>{{ report.resultpercentage }}</td>
    </tr>
    <tr>
      <td>{{#str}}weightedaverage, mod_verbalfeedback{{/str}}</td>
      <td>{{ report.resultvsmax }}</td>
    </tr>
  </table>
  <br><br><br><br><br><br><br><br><br>
  {{# report.categories }}
  <table style="page-break-inside:avoid">
    <tr>
      <th width="400">
        <b>{{ name }}</u>{{avg}}
      </th>
      <th colspan="3" width="230">
        <span><b>{{#str}}weightedaverage, mod_verbalfeedback{{/str}}: {{average}}</b></span><br>
        <span><b>{{#str}}categoryweight, mod_verbalfeedback{{/str}}: {{percentage}}</b></span>
      </th>
    </tr>
    <tr>
      <td>
      </td>
      <td>{{#str}}valuation, mod_verbalfeedback{{/str}}</td>
      <td>{{#str}}value, mod_verbalfeedback{{/str}}</td>
      <td>{{#str}}factor, mod_verbalfeedback{{/str}}</td>
    </tr>

    {{# criteria }}
    <tr>
      <td>
        <div>{{text}}</div>
        {{# comments }}
          <br>
          <strong>{{#str}}comments, mod_verbalfeedback{{/str}}:</strong>
          {{# texts }}
            <div>{{{.}}}</div>
          {{/texts}}
        {{/comments}}
        {{^comments}}
          <br>
        {{/comments}}
      </td>
      <td>{{scaletext}}</td>
      <td>{{averagerating}}</td>
      <td>{{multiplier}}</td>
    </tr>
    {{/criteria}}
  </table>
  <br><br>
    {{/ report.categories }}
</body>

</html>