{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_verbalfeedback/index

    Moodle template to the template library

    The purpose of this template is build the entire page for the template library (by including smaller templates).

    Classes required for JS:
    * mod_verbalfeedback/index

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * instances - Array of all the verbalfeedback instances.

    Example context (json):
    {
  "templatelisturl": {},
  "templatecategorylisturl": {},
  "templatecriterialisturl": {},
  "languagelisturl": {},
  "newtemplatecriterionurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_edit.php",
  "templatecriteria": [
    {
      "id": 1,
      "text": "The content is relevant, technically correct and supported by arguments.",
      "editurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_edit.php?id=1",
      "deleteurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_delete.php?id=1",
      "subratingcount": 7
    },
    {
      "id": 2,
      "text": "The content is tailored to the target audience and the occasion.",
      "editurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_edit.php?id=2",
      "deleteurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_delete.php?id=2",
      "subratingcount": 6
    },
    {
      "id": 3,
      "text": "The content presented is evidence of a thorough, independent examination of the topic.",
      "editurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_edit.php?id=3",
      "deleteurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_delete.php?id=3",
      "subratingcount": 4
    },
    {
      "id": 4,
      "text": "The introduction establishes contact, stimulates interest and provides orientation.",
      "editurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_edit.php?id=4",
      "deleteurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_delete.php?id=4",
      "subratingcount": 7
    },
    {
      "id": 5,
      "text": "The main points build on each other and are in line with your purpose.",
      "editurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_edit.php?id=5",
      "deleteurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_delete.php?id=5",
      "subratingcount": 4
    },
    {
      "id": 6,
      "text": "The final is convincing and clearly signals the end of the presentation.",
      "editurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_edit.php?id=6",
      "deleteurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_delete.php?id=6",
      "subratingcount": 3
    },
    {
      "id": 7,
      "text": "The use of media is professional.",
      "editurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_edit.php?id=7",
      "deleteurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_delete.php?id=7",
      "subratingcount": 8
    },
    {
      "id": 8,
      "text": "The visual aids are attractive and of good quality.",
      "editurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_edit.php?id=8",
      "deleteurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_delete.php?id=8",
      "subratingcount": 11
    },
    {
      "id": 9,
      "text": "The language style is typical for spoken texts and suitable for the target audience.",
      "editurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_edit.php?id=9",
      "deleteurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_delete.php?id=9",
      "subratingcount": 9
    },
    {
      "id": 10,
      "text": "The style of speaking is convincing and facilitates comprehension.",
      "editurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_edit.php?id=10",
      "deleteurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_delete.php?id=10",
      "subratingcount": 7
    },
    {
      "id": 11,
      "text": "The performance is confident and the space is used effectively.",
      "editurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_edit.php?id=11",
      "deleteurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_delete.php?id=11",
      "subratingcount": 8
    },
    {
      "id": 12,
      "text": "Eye contact is made with the entire audience and is maintained as much as possible.",
      "editurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_edit.php?id=12",
      "deleteurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_delete.php?id=12",
      "subratingcount": 4
    },
    {
      "id": 13,
      "text": "Facial expressions are friendly and authentic. Gestures emphasize what is being said.",
      "editurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_edit.php?id=13",
      "deleteurl": "http://localhost/mdk/stable_403/mod/verbalfeedback/template_criterion_delete.php?id=13",
      "subratingcount": 6
    }
  ]
}
}}
<div class="container">
    <div class="btn-group">
        <a class="btn btn-secondary mr-1 mb-1" href="{{templatelisturl}}">{{#str}}templateplural, mod_verbalfeedback{{/str}}</a>
        <a class="btn btn-secondary mr-1 mb-1" href="{{templatecategorylisturl}}">{{#str}}templatecategoryplural, mod_verbalfeedback{{/str}}</a>
        <a class="btn btn-secondary mr-1 mb-1" href="{{templatecriterialisturl}}">{{#str}}templatecriteriaplural, mod_verbalfeedback{{/str}}</a>
        <a class="btn btn-secondary mr-1 mb-1" href="{{languagelisturl}}">{{#str}}languageplural, mod_verbalfeedback{{/str}}</a>
    </div>
<br>
    <div class="btn-group">
        <a class="btn btn-secondary mr-1 mb-1" href="{{newtemplatecriterionurl}}">{{#str}}newcriterion, mod_verbalfeedback{{/str}}</a>
    </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="span4">{{#str}}id, mod_verbalfeedback{{/str}}</th>
            <th class="span4">{{#str}}text, mod_verbalfeedback{{/str}}</th>
            <th class="span4">{{#str}}subratingplural, mod_verbalfeedback{{/str}}</th>
            <th class="span4"></th>
        </tr>
    </thead>
    <tbody>
    {{# templatecriteria }}
        <tr class="unselectedrow">
            <td>
                <span>{{id}}</span>
            </td>
            <td>
                <span>{{text}}</span>
            </td>
            <td>
              <span>{{subratingcount}}</span>
            </td>
            <td class="text-right text-nowrap">
                <a class="btn btn-secondary ml-1" href="{{editurl}}">{{#str}}edit{{/str}}</a>
                <a class="btn btn-secondary ml-1" href="{{deleteurl}}">{{#str}}delete{{/str}}</a>
            </td>
        </tr>
    {{/ templatecriteria }}
    </tbody>
</table>
</div>
